/* You can add global styles to this file, and also import other style files */
/* 
:root {
    --color-primary: #0077C0;
    --color-secondary: #FFCC00;
    --color-background: #FFFFFF;
    --color-text: #333333;
    --color-accent: #00C853;
    --color-selected: #d3f9d8
  }

 */

:root {
  --primary-blue: #1e3a8a;
  --secondary-yellow: #facc15;
  --danger-red: #ef4444;
  --danger-red-hover: #dc2626;
  --neutral-bg: #f9fafb;
  --neutral-text: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
